# 主ignore默认忽略一切文件, 由子ignore用白名单决定追踪哪些文件.
*
# 允许进入所有文件夹进行探测
!*/

# 追踪abstract-machine项目下的所有.h, .c, .cc, .S, .ld, .sh, .py, .mk文件和Makefile, README, LICENSE
!*.h
!*.c
!*.cc
!*.S
!*.ld
!*.sh
!*.py
!*.mk
!Makefile
!README
!README.md
!LICENSE
!.gitignore

# 忽略所有 . _ ~ 开头的临时文件
.*
_*
*~
.vscode

# 忽略abstract-machine/build
build/

