# .gitignore语法规则:
# 请查看文档https://git-scm.com/docs/gitignore
# foo   # 普通模式. 递归匹配任意层级下的文件foo.
# *     # 匹配当前目录任意字符, 但是不包括路径分隔符/, 不递归. 例如, src/*.c会匹配src/main.c, 但不会匹配src/lib/helper.c 
# **    # 全局通配符. 匹配一切.
# ?     # 匹配任意单个字符
# /     # 路径锚定. `/`被允许出现在gitignore模式的开头, 中间, 结尾.
# 如果模式开头或中间（或两者兼有）存在分隔符(如`/npc2`)，则该模式相对于特定 .gitignore 文件所在的目录级别。否则，该模式也可能匹配 .gitignore 文件级别以下的任何级别。
# 如果模式末尾有分隔符(如`npc2/`)，则该模式将仅匹配目录；否则，该模式可以同时匹配文件和目录。


# !     # 反忽略. 如果父目录已经被忽略, 则无效.




# 一个项目的所有目录的.gitignore都应该用下面的白名单格式配置.gitignore:
# *
# !*/

# !/allowed_dir/
# !/allowed_file



# 主ignore默认忽略一切文件, 由子ignore用白名单决定追踪哪些文件.
*
# 允许进入所有文件夹进行探测
!*/ 


!/nemu/
!/abstract-machine/
!/nanos-lite/
!/navy-apps/
!/npc/
!/npc2/

!.gitignore
!Makefile
!README.md
!init.sh
/fceux-am
/nvboard
/am-kernels
